body {
	background-color: white;
	margin: 0;
}

header {
	position: sticky;
	top: 0;
	margin: 0;
	padding: 5px 1px;
	display: grid;
	grid-template-columns: auto auto;
	background-color: white;
}

h1 {
	font-family: Poppins, SemiBold;
	font-size: 20px;
	color: black;
	width: 200px;
	padding-bottom: 8px;
	margin: 0;
}

p {
	font-family: Poppins, SemiBold;
	font-size: 20px;
	color: black;
	margin: 0;
}

#naslov {
	margin-left: 20px;
}

#meni {
	justify-self: end;
	margin-right: 20px;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: gray;
}

.projekat img {
	width: 100%;
}

p1 {
	font-family: Poppins, SemiBold;
	font-size: 18px;
	color: black;
}

p2 {
	font-family: Poppins, SemiBold;
	font-size: 18px;
	color: black;
}

#slika1 {
	width: 100%;
}

#slika1 {
	width: 45vh;
	height: 60vhx;
	float: left;
	margin-left: 17vh;
	margin-top: 0
}
#slika3 {
	width: 100%;
}

#slika3 {
	width: 75vh;
	height: 50vh;
	float: right;
	margin-top: 3vh;
	margin-right: 14vh;
	margin-bottom: 6vh;
}

.projekat1 {
	display: grid;
	grid-template-columns: auto auto ;
	grid-gap: 7vh;
	margin-top: 6vh;

}

.projekat2 {
	display: grid;
	grid-template-columns: auto auto ;
	grid-gap: 7vh;
	margin-top: 4vh;
	margin-left: 17vh;

}

.projekat2 p2 {
	margin-top: 10vh;
}

.projekat1 p1{
	margin-right: 6vh;
}